name: Generate Snake

on:
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: Platane/snk@v2
  with:
    github_user_name: Shadow-Klr
    outputs: dist/snake.svg
    snake_color: "#BA8DE3"       # color de la serpiente
    apple_color: "#7F00FF"       # color del “comida”
    stroke_color: "#FFFFFF"      # borde de la serpiente
    background_color: "#000000"  # fondo


      - name: Push snake
        uses: crazy-max/ghaction-github-pages@v3.1.0
        with:
          target_branch: output
          build_dir: dist
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
